# .gitignore for Unity

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
*.app

Crashlytics/

*.pvr
*.pvr.meta

# Asset Store Packages
Assets/01 Casual & Mobile Music and Sounds Pack - Vol 1/
Assets/02 Layer Lab/
Assets/03 Cool Shader #1/